.App {
  font-family: sans-serif;
  text-align: center;
}

.img {
  width: 225px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.icon-play {
  position: absolute;
  opacity: 0;
}

.img:hover .icon-play {
  opacity: 1;
}

.img:hover .image {
  transform: scale(1.1);
  transition: 0.55s;
}
